{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-undef": 0,
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-no-bind": 0,
    "no-console": 0,
    "class-methods-use-this": 0,
    "no-return-assign": 0,
    "no-prototype-builtins": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-filename-extension": 0
  }
}
